package templates

import (
	"fmt"
    "davidabram/go-templ-echo-htmx-template/internals/db"
)

templ BooksTable(page *Page, books []db.FullBookInfo) {
	@Layout(page) {
		<div>Books Table</div>
		<table>
			for _, book := range books {
				<tr>
					<td>{ book.Title }</td>
					<td>{ fmt.Sprintf("%d", book.PublicationYear) }</td>
					<td>{ fmt.Sprintf("$%.2f", book.Price) }</td>
					<td>{ book.Author.Name }</td>
					<td>{ book.Category.Name }</td>
				</tr>
			}
		</table>
	}
}

