package templates

type Joke struct {
	Setup string 
	Punchline string
}

templ Contact(page *Page, joke *Joke) {
	@Layout(page) {
		<div>????</div>
		<div>{ joke.Setup }</div>
		<details>
  			<summary>Show Punchline</summary>
  				{ joke.Punchline }
		</details>
		<span> -> </span>
	}
}

