package templates

type Joke struct {
	Setup string 
	Punchline string
}

templ Contact(page *Page, joke *Joke) {
	@Layout(page) {
		<div class="bg-white rounded-lg shadow-lg p-4 m-4">
			<div class="font-bold text-xl mb-2">Contact Us</div>
			<div class="mb-4">{ joke.Setup }</div>
			<details>
				<summary class="text-blue-600 cursor-pointer hover:underline">Show Punchline</summary>
				<div class="text-gray-600 mt-2">{ joke.Punchline }</div>
			</details>
		</div>
	}
}
